# These are now in SLOT ORDER,
# from J5-J16. This is looking RIGHT to LEFT
# while standing at the crate with the roof open
# on the open side of the roof.
# J5
NET "L1_P<0>" IOSTANDARD = LVDSEXT_33 |LOC = "AB18";
NET "L1_P<1>" IOSTANDARD = LVDSEXT_33 |LOC = "Y17";
NET "L1_P<2>" IOSTANDARD = LVDSEXT_33 |LOC = "AB17";
NET "L1_P<3>" IOSTANDARD = LVDSEXT_33 |LOC = "V15";
NET "L1_N<0>" IOSTANDARD = LVDSEXT_33 |LOC = "AA18";
NET "L1_N<1>" IOSTANDARD = LVDSEXT_33 |LOC = "W17";
NET "L1_N<2>" IOSTANDARD = LVDSEXT_33 |LOC = "AA17";
NET "L1_N<3>" IOSTANDARD = LVDSEXT_33 |LOC = "V16";
NET "HOLD_P<0>" IOSTANDARD = LVDSEXT_33 |LOC = "Y16" | TNM = "HOLDGRP";
NET "HOLD_P<1>" IOSTANDARD = LVDSEXT_33 |LOC = "AB16" | TNM = "HOLDGRP";
NET "HOLD_P<2>" IOSTANDARD = LVDSEXT_33 |LOC = "Y15" | TNM = "HOLDGRP";
NET "HOLD_P<3>" IOSTANDARD = LVDSEXT_33 |LOC = "AB15" | TNM = "HOLDGRP";
NET "HOLD_N<0>" IOSTANDARD = LVDSEXT_33 |LOC = "W16";
NET "HOLD_N<1>" IOSTANDARD = LVDSEXT_33 |LOC = "AA16";
NET "HOLD_N<2>" IOSTANDARD = LVDSEXT_33 |LOC = "W15";
NET "HOLD_N<3>" IOSTANDARD = LVDSEXT_33 |LOC = "AA15";
NET "CMD_P<0>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "Y14";
NET "CMD_N<0>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "W14";
NET "SURF_CLK_P<0>" IOSTANDARD = LVDSEXT_33 |LOC = "AB14";
NET "SURF_CLK_N<0>" IOSTANDARD = LVDSEXT_33 |LOC = "AA14";
NET "SURF_REF_PULSE_P<0>" IOSTANDARD = LVDSEXT_33 |LOC = "V14";
NET "SURF_REF_PULSE_N<0>" IOSTANDARD = LVDSEXT_33 |LOC = "U14";
NET "SURF_BUSY_A<0>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "V13";
# J6
NET "L1_P<4>" IOSTANDARD = LVDSEXT_33 |LOC = "R21";
NET "L1_P<5>" IOSTANDARD = LVDSEXT_33 |LOC = "R19";
NET "L1_P<6>" IOSTANDARD = LVDSEXT_33 |LOC = "P17";
NET "L1_P<7>" IOSTANDARD = LVDSEXT_33 |LOC = "T21";
NET "L1_N<4>" IOSTANDARD = LVDSEXT_33 |LOC = "R22";
NET "L1_N<5>" IOSTANDARD = LVDSEXT_33 |LOC = "R20";
NET "L1_N<6>" IOSTANDARD = LVDSEXT_33 |LOC = "R18";
NET "L1_N<7>" IOSTANDARD = LVDSEXT_33 |LOC = "T22";
NET "HOLD_P<4>" IOSTANDARD = LVDSEXT_33 |LOC = "T19"| TNM = "HOLDGRP";
NET "HOLD_P<5>" IOSTANDARD = LVDSEXT_33 |LOC = "U21"| TNM = "HOLDGRP";
NET "HOLD_P<6>" IOSTANDARD = LVDSEXT_33 |LOC = "U19"| TNM = "HOLDGRP";
NET "HOLD_P<7>" IOSTANDARD = LVDSEXT_33 |LOC = "U18"| TNM = "HOLDGRP";
NET "HOLD_N<4>" IOSTANDARD = LVDSEXT_33 |LOC = "T20";
NET "HOLD_N<5>" IOSTANDARD = LVDSEXT_33 |LOC = "U22";
NET "HOLD_N<6>" IOSTANDARD = LVDSEXT_33 |LOC = "U20";
NET "HOLD_N<7>" IOSTANDARD = LVDSEXT_33 |LOC = "T18";
NET "CMD_P<1>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "V19";
NET "CMD_N<1>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "V20";
NET "SURF_CLK_P<1>" IOSTANDARD = LVDSEXT_33 |LOC = "W21";
NET "SURF_CLK_N<1>" IOSTANDARD = LVDSEXT_33 |LOC = "W22";
NET "SURF_REF_PULSE_P<1>" IOSTANDARD = LVDSEXT_33 |LOC = "V21";
NET "SURF_REF_PULSE_N<1>" IOSTANDARD = LVDSEXT_33 |LOC = "V22";
NET "SURF_BUSY_A<1>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "Y21";
# J7
NET "L1_P<8>" IOSTANDARD = LVDSEXT_33 |LOC = "K22";
NET "L1_P<9>" IOSTANDARD = LVDSEXT_33 |LOC = "L18";
NET "L1_P<10>" IOSTANDARD = LVDSEXT_33 |LOC = "L20";
NET "L1_P<11>" IOSTANDARD = LVDSEXT_33 |LOC = "L22";
NET "L1_N<8>" IOSTANDARD = LVDSEXT_33 |LOC = "K21";
NET "L1_N<9>" IOSTANDARD = LVDSEXT_33 |LOC = "L17";
NET "L1_N<10>" IOSTANDARD = LVDSEXT_33 |LOC = "L19";
NET "L1_N<11>" IOSTANDARD = LVDSEXT_33 |LOC = "L21";
NET "HOLD_P<8>" IOSTANDARD = LVDSEXT_33 |LOC = "M20"| TNM = "HOLDGRP";
NET "HOLD_P<9>" IOSTANDARD = LVDSEXT_33 |LOC = "M18"| TNM = "HOLDGRP";
NET "HOLD_P<10>" IOSTANDARD = LVDSEXT_33 |LOC = "N17"| TNM = "HOLDGRP";
NET "HOLD_P<11>" IOSTANDARD = LVDSEXT_33 |LOC = "N21"| TNM = "HOLDGRP";
NET "HOLD_N<8>" IOSTANDARD = LVDSEXT_33 |LOC = "M21";
NET "HOLD_N<9>" IOSTANDARD = LVDSEXT_33 |LOC = "M19";
NET "HOLD_N<10>" IOSTANDARD = LVDSEXT_33 |LOC = "M17";
NET "HOLD_N<11>" IOSTANDARD = LVDSEXT_33 |LOC = "N22";
NET "CMD_P<2>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "P18";
NET "CMD_N<2>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "N18";
NET "SURF_CLK_P<2>" IOSTANDARD = LVDSEXT_33 |LOC = "P21";
NET "SURF_CLK_N<2>" IOSTANDARD = LVDSEXT_33 |LOC = "P22";
NET "SURF_REF_PULSE_P<2>" IOSTANDARD = LVDSEXT_33 |LOC = "N19";
NET "SURF_REF_PULSE_N<2>" IOSTANDARD = LVDSEXT_33 |LOC = "N20";
NET "SURF_BUSY_A<2>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "P19";
# J8
NET "L1_P<12>" IOSTANDARD = LVDSEXT_33 |LOC = "F20";
NET "L1_P<13>" IOSTANDARD = LVDSEXT_33 |LOC = "F22";
NET "L1_P<14>" IOSTANDARD = LVDSEXT_33 |LOC = "H18";
NET "L1_P<15>" IOSTANDARD = LVDSEXT_33 |LOC = "G20";
NET "L1_N<12>" IOSTANDARD = LVDSEXT_33 |LOC = "F19";
NET "L1_N<13>" IOSTANDARD = LVDSEXT_33 |LOC = "F21";
NET "L1_N<14>" IOSTANDARD = LVDSEXT_33 |LOC = "G18";
NET "L1_N<15>" IOSTANDARD = LVDSEXT_33 |LOC = "G19";
NET "HOLD_P<12>" IOSTANDARD = LVDSEXT_33 |LOC = "G22"| TNM = "HOLDGRP";
NET "HOLD_P<13>" IOSTANDARD = LVDSEXT_33 |LOC = "H20"| TNM = "HOLDGRP";
NET "HOLD_P<14>" IOSTANDARD = LVDSEXT_33 |LOC = "H22"| TNM = "HOLDGRP";
NET "HOLD_P<15>" IOSTANDARD = LVDSEXT_33 |LOC = "J18"| TNM = "HOLDGRP";
NET "HOLD_N<12>" IOSTANDARD = LVDSEXT_33 |LOC = "G21";
NET "HOLD_N<13>" IOSTANDARD = LVDSEXT_33 |LOC = "H19";
NET "HOLD_N<14>" IOSTANDARD = LVDSEXT_33 |LOC = "H21";
NET "HOLD_N<15>" IOSTANDARD = LVDSEXT_33 |LOC = "J17";
NET "CMD_P<3>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "J22";
NET "CMD_N<3>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "J21";
NET "SURF_CLK_P<3>" IOSTANDARD = LVDSEXT_33 |LOC = "K18";
NET "SURF_CLK_N<3>" IOSTANDARD = LVDSEXT_33 |LOC = "K17";
NET "SURF_REF_PULSE_P<3>" IOSTANDARD = LVDSEXT_33 |LOC = "J20";
NET "SURF_REF_PULSE_N<3>" IOSTANDARD = LVDSEXT_33 |LOC = "J19";
NET "SURF_BUSY_A<3>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "K20";
# J9
NET "L1_P<16>" IOSTANDARD = LVDSEXT_33 |LOC = "D16";
NET "L1_P<17>" IOSTANDARD = LVDSEXT_33 |LOC = "E17";
NET "L1_P<18>" IOSTANDARD = LVDSEXT_33 |LOC = "B17";
NET "L1_P<19>" IOSTANDARD = LVDSEXT_33 |LOC = "D17";
NET "L1_N<16>" IOSTANDARD = LVDSEXT_33 |LOC = "C16";
NET "L1_N<17>" IOSTANDARD = LVDSEXT_33 |LOC = "E16";
NET "L1_N<18>" IOSTANDARD = LVDSEXT_33 |LOC = "A17";
NET "L1_N<19>" IOSTANDARD = LVDSEXT_33 |LOC = "C17";
NET "HOLD_P<16>" IOSTANDARD = LVDSEXT_33 |LOC = "B18"| TNM = "HOLDGRP";
NET "HOLD_P<17>" IOSTANDARD = LVDSEXT_33 |LOC = "D18"| TNM = "HOLDGRP";
NET "HOLD_P<18>" IOSTANDARD = LVDSEXT_33 |LOC = "B19"| TNM = "HOLDGRP";
NET "HOLD_P<19>" IOSTANDARD = LVDSEXT_33 |LOC = "C22"| TNM = "HOLDGRP";
NET "HOLD_N<16>" IOSTANDARD = LVDSEXT_33 |LOC = "A18";
NET "HOLD_N<17>" IOSTANDARD = LVDSEXT_33 |LOC = "C18";
NET "HOLD_N<18>" IOSTANDARD = LVDSEXT_33 |LOC = "A19";
NET "HOLD_N<19>" IOSTANDARD = LVDSEXT_33 |LOC = "C21";
NET "CMD_P<4>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "D22";
NET "CMD_N<4>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "D21";
NET "SURF_CLK_P<4>" IOSTANDARD = LVDSEXT_33 |LOC = "E20";
NET "SURF_CLK_N<4>" IOSTANDARD = LVDSEXT_33 |LOC = "E19";
NET "SURF_REF_PULSE_P<4>" IOSTANDARD = LVDSEXT_33 |LOC = "F18";
NET "SURF_REF_PULSE_N<4>" IOSTANDARD = LVDSEXT_33 |LOC = "E18";
NET "SURF_BUSY_A<4>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "E22";
# J10
NET "L1_P<20>" IOSTANDARD = LVDSEXT_33 |LOC = "F13";
NET "L1_P<21>" IOSTANDARD = LVDSEXT_33 |LOC = "D12";
NET "L1_P<22>" IOSTANDARD = LVDSEXT_33 |LOC = "B12";
NET "L1_P<23>" IOSTANDARD = LVDSEXT_33 |LOC = "B13";
NET "L1_N<20>" IOSTANDARD = LVDSEXT_33 |LOC = "F12";
NET "L1_N<21>" IOSTANDARD = LVDSEXT_33 |LOC = "E12";
NET "L1_N<22>" IOSTANDARD = LVDSEXT_33 |LOC = "C12";
NET "L1_N<23>" IOSTANDARD = LVDSEXT_33 |LOC = "A13";
NET "HOLD_P<20>" IOSTANDARD = LVDSEXT_33 |LOC = "D13"| TNM = "HOLDGRP";
NET "HOLD_P<21>" IOSTANDARD = LVDSEXT_33 |LOC = "E14"| TNM = "HOLDGRP";
NET "HOLD_P<22>" IOSTANDARD = LVDSEXT_33 |LOC = "B14"| TNM = "HOLDGRP";
NET "HOLD_P<23>" IOSTANDARD = LVDSEXT_33 |LOC = "D14"| TNM = "HOLDGRP";
NET "HOLD_N<20>" IOSTANDARD = LVDSEXT_33 |LOC = "C13";
NET "HOLD_N<21>" IOSTANDARD = LVDSEXT_33 |LOC = "E13";
NET "HOLD_N<22>" IOSTANDARD = LVDSEXT_33 |LOC = "A14";
NET "HOLD_N<23>" IOSTANDARD = LVDSEXT_33 |LOC = "C14";
NET "CMD_P<5>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "D15";
NET "CMD_N<5>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "C15";
NET "SURF_CLK_P<5>" IOSTANDARD = LVDSEXT_33 |LOC = "E15";
NET "SURF_CLK_N<5>" IOSTANDARD = LVDSEXT_33 |LOC = "F14";
NET "SURF_REF_PULSE_P<5>" IOSTANDARD = LVDSEXT_33 |LOC = "B15";
NET "SURF_REF_PULSE_N<5>" IOSTANDARD = LVDSEXT_33 |LOC = "A15";
NET "SURF_BUSY_A<5>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "B16";
# J11
NET "L1_P<24>" IOSTANDARD = LVDSEXT_33 |LOC = "A7";
NET "L1_P<25>" IOSTANDARD = LVDSEXT_33 |LOC = "C8";
NET "L1_P<26>" IOSTANDARD = LVDSEXT_33 |LOC = "A8";
NET "L1_P<27>" IOSTANDARD = LVDSEXT_33 |LOC = "F9";
NET "L1_N<24>" IOSTANDARD = LVDSEXT_33 |LOC = "B7";
NET "L1_N<25>" IOSTANDARD = LVDSEXT_33 |LOC = "D8";
NET "L1_N<26>" IOSTANDARD = LVDSEXT_33 |LOC = "B8";
NET "L1_N<27>" IOSTANDARD = LVDSEXT_33 |LOC = "E9";
NET "HOLD_P<24>" IOSTANDARD = LVDSEXT_33 |LOC = "C9"| TNM = "HOLDGRP";
NET "HOLD_P<25>" IOSTANDARD = LVDSEXT_33 |LOC = "A9"| TNM = "HOLDGRP";
NET "HOLD_P<26>" IOSTANDARD = LVDSEXT_33 |LOC = "F10"| TNM = "HOLDGRP";
NET "HOLD_P<27>" IOSTANDARD = LVDSEXT_33 |LOC = "C10"| TNM = "HOLDGRP";
NET "HOLD_N<24>" IOSTANDARD = LVDSEXT_33 |LOC = "D9";
NET "HOLD_N<25>" IOSTANDARD = LVDSEXT_33 |LOC = "B9";
NET "HOLD_N<26>" IOSTANDARD = LVDSEXT_33 |LOC = "E10";
NET "HOLD_N<27>" IOSTANDARD = LVDSEXT_33 |LOC = "D10";
NET "CMD_P<6>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "F11";
NET "CMD_N<6>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "E11";
NET "SURF_CLK_P<6>" IOSTANDARD = LVDSEXT_33 | LOC = "C11";
NET "SURF_CLK_N<6>" IOSTANDARD = LVDSEXT_33 | LOC = "D11";
NET "SURF_REF_PULSE_P<6>" IOSTANDARD = LVDSEXT_33 |LOC = "A10";
NET "SURF_REF_PULSE_N<6>" IOSTANDARD = LVDSEXT_33 |LOC = "B10";
NET "SURF_BUSY_A<6>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "A11";
# J12
NET "L1_P<28>" IOSTANDARD = LVDSEXT_33 |LOC = "E1";
NET "L1_P<29>" IOSTANDARD = LVDSEXT_33 |LOC = "E3";
NET "L1_P<30>" IOSTANDARD = LVDSEXT_33 |LOC = "D1";
NET "L1_P<31>" IOSTANDARD = LVDSEXT_33 |LOC = "C1";
NET "L1_N<28>" IOSTANDARD = LVDSEXT_33 |LOC = "E2";
NET "L1_N<29>" IOSTANDARD = LVDSEXT_33 |LOC = "E4";
NET "L1_N<30>" IOSTANDARD = LVDSEXT_33 |LOC = "D2";
NET "L1_N<31>" IOSTANDARD = LVDSEXT_33 |LOC = "C2";
NET "HOLD_P<28>" IOSTANDARD = LVDSEXT_33 |LOC = "E5"| TNM = "HOLDGRP";
NET "HOLD_P<29>" IOSTANDARD = LVDSEXT_33 |LOC = "A4"| TNM = "HOLDGRP";
NET "HOLD_P<30>" IOSTANDARD = LVDSEXT_33 |LOC = "C5"| TNM = "HOLDGRP";
NET "HOLD_P<31>" IOSTANDARD = LVDSEXT_33 |LOC = "A5"| TNM = "HOLDGRP";
NET "HOLD_N<28>" IOSTANDARD = LVDSEXT_33 |LOC = "E6";
NET "HOLD_N<29>" IOSTANDARD = LVDSEXT_33 |LOC = "B4";
NET "HOLD_N<30>" IOSTANDARD = LVDSEXT_33 |LOC = "C4";
NET "HOLD_N<31>" IOSTANDARD = LVDSEXT_33 |LOC = "B5";
NET "CMD_P<7>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "A6";
NET "CMD_N<7>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "B6";
NET "SURF_CLK_P<7>" IOSTANDARD = LVDSEXT_33 |LOC = "E8";
NET "SURF_CLK_N<7>" IOSTANDARD = LVDSEXT_33 |LOC = "E7";
NET "SURF_REF_PULSE_P<7>" IOSTANDARD = LVDSEXT_33 |LOC = "C6";
NET "SURF_REF_PULSE_N<7>" IOSTANDARD = LVDSEXT_33 |LOC = "D6";
NET "SURF_BUSY_A<7>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "C7";
# J13
NET "L1_P<32>" IOSTANDARD = LVDSEXT_33 |LOC = "L6";
NET "L1_P<33>" IOSTANDARD = LVDSEXT_33 |LOC = "K5";
NET "L1_P<34>" IOSTANDARD = LVDSEXT_33 |LOC = "J1";
NET "L1_P<35>" IOSTANDARD = LVDSEXT_33 |LOC = "J3";
NET "L1_N<32>" IOSTANDARD = LVDSEXT_33 |LOC = "K6";
NET "L1_N<33>" IOSTANDARD = LVDSEXT_33 |LOC = "J5";
NET "L1_N<34>" IOSTANDARD = LVDSEXT_33 |LOC = "J2";
NET "L1_N<35>" IOSTANDARD = LVDSEXT_33 |LOC = "J4";
NET "HOLD_P<32>" IOSTANDARD = LVDSEXT_33 |LOC = "H1"| TNM = "HOLDGRP";
NET "HOLD_P<33>" IOSTANDARD = LVDSEXT_33 |LOC = "H3"| TNM = "HOLDGRP";
NET "HOLD_P<34>" IOSTANDARD = LVDSEXT_33 |LOC = "J6"| TNM = "HOLDGRP";
NET "HOLD_P<35>" IOSTANDARD = LVDSEXT_33 |LOC = "G1"| TNM = "HOLDGRP";
NET "HOLD_N<32>" IOSTANDARD = LVDSEXT_33 |LOC = "H2";
NET "HOLD_N<33>" IOSTANDARD = LVDSEXT_33 |LOC = "H4";
NET "HOLD_N<34>" IOSTANDARD = LVDSEXT_33 |LOC = "H5";
NET "HOLD_N<35>" IOSTANDARD = LVDSEXT_33 |LOC = "G2";
NET "CMD_P<8>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "F1";
NET "CMD_N<8>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "F2";
NET "SURF_CLK_P<8>" IOSTANDARD = LVDSEXT_33 | LOC = "F3";
NET "SURF_CLK_N<8>" IOSTANDARD = LVDSEXT_33 | LOC = "F4";
NET "SURF_REF_PULSE_P<8>" IOSTANDARD = LVDSEXT_33 |LOC = "G3";
NET "SURF_REF_PULSE_N<8>" IOSTANDARD = LVDSEXT_33 |LOC = "G4";
NET "SURF_BUSY_A<8>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "G5";
# J14
NET "L1_P<36>" IOSTANDARD = LVDSEXT_33 |LOC = "P4";
NET "L1_P<37>" IOSTANDARD = LVDSEXT_33 |LOC = "P2";
NET "L1_P<38>" IOSTANDARD = LVDSEXT_33 |LOC = "N6";
NET "L1_P<39>" IOSTANDARD = LVDSEXT_33 |LOC = "N4";
NET "L1_N<36>" IOSTANDARD = LVDSEXT_33 |LOC = "P3";
NET "L1_N<37>" IOSTANDARD = LVDSEXT_33 |LOC = "P1";
NET "L1_N<38>" IOSTANDARD = LVDSEXT_33 |LOC = "N5";
NET "L1_N<39>" IOSTANDARD = LVDSEXT_33 |LOC = "N3";
NET "HOLD_P<36>" IOSTANDARD = LVDSEXT_33 |LOC = "N2"| TNM = "HOLDGRP";
NET "HOLD_P<37>" IOSTANDARD = LVDSEXT_33 |LOC = "M6"| TNM = "HOLDGRP";
NET "HOLD_P<38>" IOSTANDARD = LVDSEXT_33 |LOC = "M4"| TNM = "HOLDGRP";
NET "HOLD_P<39>" IOSTANDARD = LVDSEXT_33 |LOC = "M2"| TNM = "HOLDGRP";
NET "HOLD_N<36>" IOSTANDARD = LVDSEXT_33 |LOC = "N1";
NET "HOLD_N<37>" IOSTANDARD = LVDSEXT_33 |LOC = "M5";
NET "HOLD_N<38>" IOSTANDARD = LVDSEXT_33 |LOC = "M3";
NET "HOLD_N<39>" IOSTANDARD = LVDSEXT_33 |LOC = "M1";
NET "CMD_P<9>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "L4";
NET "CMD_N<9>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "L5";
NET "SURF_CLK_P<9>" IOSTANDARD = LVDSEXT_33 | LOC = "K1";
NET "SURF_CLK_N<9>" IOSTANDARD = LVDSEXT_33 | LOC = "K2";
NET "SURF_REF_PULSE_P<9>" IOSTANDARD = LVDSEXT_33 |LOC = "L2";
NET "SURF_REF_PULSE_N<9>" IOSTANDARD = LVDSEXT_33 |LOC = "L3";
NET "SURF_BUSY_A<9>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "K3";
# J15
NET "L1_P<40>" IOSTANDARD = LVDSEXT_33 |LOC = "Y2";
NET "L1_P<41>" IOSTANDARD = LVDSEXT_33 |LOC = "V4";
NET "L1_P<42>" IOSTANDARD = LVDSEXT_33 |LOC = "W2";
NET "L1_P<43>" IOSTANDARD = LVDSEXT_33 |LOC = "U4";
NET "L1_N<40>" IOSTANDARD = LVDSEXT_33 |LOC = "Y1";
NET "L1_N<41>" IOSTANDARD = LVDSEXT_33 |LOC = "V3";
NET "L1_N<42>" IOSTANDARD = LVDSEXT_33 |LOC = "W1";
NET "L1_N<43>" IOSTANDARD = LVDSEXT_33 |LOC = "U3";
NET "HOLD_P<40>" IOSTANDARD = LVDSEXT_33 |LOC = "V2"| TNM = "HOLDGRP";
NET "HOLD_P<41>" IOSTANDARD = LVDSEXT_33 |LOC = "U2"| TNM = "HOLDGRP";
NET "HOLD_P<42>" IOSTANDARD = LVDSEXT_33 |LOC = "T5"| TNM = "HOLDGRP";
NET "HOLD_P<43>" IOSTANDARD = LVDSEXT_33 |LOC = "T4"| TNM = "HOLDGRP";
NET "HOLD_N<40>" IOSTANDARD = LVDSEXT_33 |LOC = "V1";
NET "HOLD_N<41>" IOSTANDARD = LVDSEXT_33 |LOC = "U1";
NET "HOLD_N<42>" IOSTANDARD = LVDSEXT_33 |LOC = "R5";
NET "HOLD_N<43>" IOSTANDARD = LVDSEXT_33 |LOC = "T3";
NET "CMD_P<10>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "R4";
NET "CMD_N<10>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "R3";
NET "SURF_CLK_P<10>" IOSTANDARD = LVDSEXT_33 |LOC = "R2";
NET "SURF_CLK_N<10>" IOSTANDARD = LVDSEXT_33 |LOC = "R1";
NET "SURF_REF_PULSE_P<10>" IOSTANDARD = LVDSEXT_33 |LOC = "T2";
NET "SURF_REF_PULSE_N<10>" IOSTANDARD = LVDSEXT_33 |LOC = "T1";
NET "SURF_BUSY_A<10>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "P6";
# J16
NET "L1_P<44>" IOSTANDARD = LVDSEXT_33 |LOC = "AA8";
NET "L1_P<45>" IOSTANDARD = LVDSEXT_33 |LOC = "W8";
NET "L1_P<46>" IOSTANDARD = LVDSEXT_33 |LOC = "V8";
NET "L1_P<47>" IOSTANDARD = LVDSEXT_33 |LOC = "AA7";
NET "L1_N<44>" IOSTANDARD = LVDSEXT_33 |LOC = "AB8";
NET "L1_N<45>" IOSTANDARD = LVDSEXT_33 |LOC = "Y8";
NET "L1_N<46>" IOSTANDARD = LVDSEXT_33 |LOC = "U9";
NET "L1_N<47>" IOSTANDARD = LVDSEXT_33 |LOC = "AB7";
NET "HOLD_P<44>" IOSTANDARD = LVDSEXT_33 |LOC = "W7"| TNM = "HOLDGRP";
NET "HOLD_P<45>" IOSTANDARD = LVDSEXT_33 |LOC = "AA6"| TNM = "HOLDGRP";
NET "HOLD_P<46>" IOSTANDARD = LVDSEXT_33 |LOC = "W6"| TNM = "HOLDGRP";
NET "HOLD_P<47>" IOSTANDARD = LVDSEXT_33 |LOC = "V6"| TNM = "HOLDGRP";
NET "HOLD_N<44>" IOSTANDARD = LVDSEXT_33 |LOC = "Y7";
NET "HOLD_N<45>" IOSTANDARD = LVDSEXT_33 |LOC = "AB6";
NET "HOLD_N<46>" IOSTANDARD = LVDSEXT_33 |LOC = "Y6";
NET "HOLD_N<47>" IOSTANDARD = LVDSEXT_33 |LOC = "V7";
NET "CMD_P<11>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "W5";
NET "CMD_N<11>" IOSTANDARD = LVCMOS33 | SLEW = "FAST" | DRIVE = 6 | LOC = "Y5";
NET "SURF_CLK_P<11>" IOSTANDARD = LVDSEXT_33 |LOC = "AA4";
NET "SURF_CLK_N<11>" IOSTANDARD = LVDSEXT_33 |LOC = "AB4";
NET "SURF_REF_PULSE_P<11>" IOSTANDARD = LVDSEXT_33 |LOC = "AA5";
NET "SURF_REF_PULSE_N<11>" IOSTANDARD = LVDSEXT_33 |LOC = "AB5";
NET "SURF_BUSY_A<11>" IOSTANDARD = LVCMOS33 | PULLUP | LOC = "V5";

NET "nCSTURF" IOSTANDARD = LVCMOS33 |LOC = "AB10" |TNM = "TURFBUS";
NET "TURF_WnR" IOSTANDARD = LVCMOS33 |LOC = "AA10"|TNM = "TURFBUS";
NET "TURF_DIO<0>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "AA13"|TNM = "TURFBUS";
NET "TURF_DIO<1>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "AB13"|TNM = "TURFBUS";
NET "TURF_DIO<2>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "AA11"|TNM = "TURFBUS";
NET "TURF_DIO<3>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "Y11"|TNM = "TURFBUS";
NET "TURF_DIO<4>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "W11"|TNM = "TURFBUS";
NET "TURF_DIO<5>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "V11"|TNM = "TURFBUS";
NET "TURF_DIO<6>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "U11"|TNM = "TURFBUS";
NET "TURF_DIO<7>" IOSTANDARD = LVCMOS33 |SLEW = "FAST" |LOC = "U10"|TNM = "TURFBUS";

NET "CLK125_P" IOSTANDARD = LVDSEXT_33 |LOC = "Y12" |TNM_NET = "TN_CLK125";
TIMESPEC "TS_CLK125" = PERIOD "TN_CLK125" 8 ns HIGH 45% INPUT_JITTER 125 ps;
NET "CLK125_N" IOSTANDARD = LVDSEXT_33 |LOC = "W12";
NET "CLK33_P" IOSTANDARD = LVDSEXT_33 |LOC = "AB12" |TNM_NET = "TN_CLK33";
TIMESPEC "TS_CLK33" = PERIOD "TN_CLK33" 30 ns HIGH 40%;
NET "CLK33_N" IOSTANDARD = LVDSEXT_33 |LOC = "AA12";

NET "PPS" IOSTANDARD = LVCMOS33 |LOC = "V10";
NET "PPS_BURST" IOSTANDARD = LVCMOS33 |LOC = "Y10";
NET "TRIG_IN" IOSTANDARD = LVCMOS33 |LOC = "V9";
NET "TRIG_OUT" IOSTANDARD = LVCMOS33 |LOC = "AB9";

# TURF/TURFIO timing constraints.
TIMEGRP "TURFBUS" OFFSET = IN 20.654 ns VALID 22.785 ns BEFORE "CLK33_P" RISING;
TIMEGRP "TURFBUS" OFFSET = OUT 7 ns AFTER "CLK33_P" FALLING;
# Multicycle constraints.
# Clock counter.
TIMESPEC "TS_CLOCK_COUNTER_MULTIPATH" = FROM FFS("u_trigger_interface/u_timebase/counter_2*") TO FFS("u_trigger_interface/u_timebase/counter_2*") TS_CLK125*8;
TIMESPEC "TS_PPS_COUNTER_FALSE" = FROM FFS("u_trigger_interface/u_timebase/pps_count*") TO FFS("u_trigger_interface/u_timebase/pps_count*") TIG;
TIMESPEC "TS_TRIG_COUNTER_FALSE" = FROM FFS("u_trigger_interface/u_timebase/counter_2*") TO FFS("u_trigger_interface/u_timebase/trig_match*") TS_CLK125*8;
# Event details. 
TIMESPEC TS_PATTERN_MULTIPATH = FROM FFS("u_trigger_interface/u_trigger/*pol_pat*") TO "RAMS" TS_CLK125 * 1.5;
TIMESPEC TS_CLOCK_MULTIPATH = FROM FFS("u_trigger_interface/u_timebase/event_*") TO "RAMS" TS_CLK125 * 1.5;
TIMESPEC TS_BUFFER_MULTIPATH = FROM FFS("u_trigger_interface/u_buffer_manager/*") TO "RAMS" TS_CLK125 * 1.5;

TIMEGRP "HOLDGRP" OFFSET = OUT 8.125 ns AFTER "CLK125_P" RISING;